{{- $email := promptStringOnce . "email" "Email address" -}}

# note it makes sense to keep only the promptable [data] here;
# static config should live in .chezmoidata.toml (see https://www.chezmoi.io/reference/special-files/chezmoidata-format/)
[data]
    email = {{ $email | quote }}

# automatically commit & push changes:
#[git]
#    autoCommit = true
#    autoPush = true

[diff]
    # do not show scripts that would be run w/ diff cmd:
    exclude = ["scripts"]
    command = "meld"
    args = ["--diff",
        {{ printf "%q" "{{ .Destination }}" }},
        {{ printf "%q" "{{ .Target }}" }},
    ]
    # or alternatively to 'command'&'args', use good 'ol delta pager:
    #pager = "delta"
[merge]
    command = "meld"
    args = ["--diff",
        {{ printf "%q" "{{ .Destination }}" }},
        {{ printf "%q" "{{ .Source }}" }},
        {{ printf "%q" "{{ .Target }}" }},
    ]
